*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.frame{
    justify-content: center;
    align-items: center;
    display: grid;
    margin-top: 50px;

}
.main-end{
    width: 552px;
    margin-bottom: 10px;

}
.header-last{
    padding: 20px 0;
    height: 93px;
    background-color: #C4996C;
    border: 2px solid #7A766F;
    color: #fff;

    margin-bottom: 10px;
}
.header-last-name{
    text-align: center;
    font-size: 22px;

}
.header-size{

    text-align: center;
    font-size: 20px;
}
.container-last{

}
.company{
    height: 174px;
    border: 2px solid #7A766F;
    background-color: #CFCFD1;
    color: #fff;


}
.company-image{
    list-style-type: none;
    line-height: 94px;
    text-align: center;
    font-size: 30px;
}
.company-item{
    line-height: 25px;
    text-align: center;
    font-size: 20px;
}

.ourservice{
    height: 457px;

}
.name-ourservice{
    text-align: center;
    color: #3A3A3A;
    font-size: 25px;
    padding: 20px 0;
    font-weight: 300;
}
.service-list{

    margin-left: 5px;
    margin-right: -10px;
    display: flex;

    flex-wrap: wrap;
}
.service-item{
    border: 2px solid #7A766F;

    color: #E1E3E3;
    background-color: #A8A9AD;
    margin: 10px 20px;
    width: 25.333%;
    height: 152px;
    text-align: center;
    font-size: 20px;
}
.service-name{
    padding : 50px 0 10px;

}
.service-w{

}
.service-h{

}
.footer-last{
    border: 2px solid #312e2e;
    margin-top: -25px;
    height: 95px;
    background-color: #115D7F;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 200px;
    border-bottom: none;
    margin-bottom: 100px;
}