*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;

}
.frame{
    justify-content: center;
    align-items: center;
    display: grid;
    margin-top: 50px;

}
.main-second{
    margin: 28px 0;
    width: 552px;
    height: 369px;
}
.header-section{
    height: 48px;
}
.header-section-text{
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    border: 1px solid #000000;

}
.nav{
    font-size: 25px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    border: 1px solid #000000;
    border-top: none;

}
.container-section{
    height: 190px;
    display: flex;
    width: 100%;

}

.index-section{
    text-align: center;
    width: 105px;
    border: 1px solid #000000;
    border-top: none;
    border-bottom: none;
    border-right: none;
    line-height: 190px;
    font-size: 25px;
}
.content-section {
    border: 1px solid #000000;

    width: 455px;
    border-top: none;
    border-bottom: none;
}
.content-text{
    line-height: 190px;

    font-size: 25px;
    text-align: start;
    padding-left: 90px;
}
.footer-section{
    height: 87px;
    text-align: center;
    line-height: 87px;
    font-size: 25px;
    border: 1px solid #000000;

}